@font-face {
    font-family: 'Modern';
    src: url(Fonts/modern.ttf);
}

@font-face {
    font-family: 'Modern2';
    src: url(Fonts/modern2.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0, 0, 0, 0.85)), url(Images/background.jpg);
    background-size: cover;
}

#banner {
    width: 100%;
    height: 100vh;
}

.main{
    width: 100%;
    position: absolute;
    top: 35%;
    font-size: 4vh;
    transform: translateY(-25%);
    text-align: center;
}

.logo {
    font-family: 'Modern';
}

#title1 {
    color: #fff;
}

#title2 {
    color: #7DC772;
}

.divider {
    width: 20em;
    height: 0.2em;
    background-image: linear-gradient(to right,#7dc77244,#7dc77276,#7DC772,#7dc77276,#7dc77244);
    position: relative;
    top: 35px;
    margin: auto;
}

.navbar {
    height: auto;
    width: 40em;
    margin: 3.5em auto;
    background: linear-gradient(#ebebeb29, #8181811f);
    border-radius: 5px;
    position: relative;
}

.menubutton {
    width: 10em;
    height: 3em;
    margin: auto;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(193, 193, 193);
    font-family: 'modern';
    font-size: 15px;
}

.menubutton:hover {
    background: rgba(255, 255, 255, 0.157);
}

#P {
    color: #d7c537;
}


/*-Scrollbar-*/
::-webkit-scrollbar {
    width: 10px;
}
  

::-webkit-scrollbar-track {
    background: #353736;
}
   

::-webkit-scrollbar-thumb {
    background: #7DC772; 
    border-radius: 2px;
}